@import "../custom/buttons";

.inner-left {
	> header {
		width: 90%;
		margin: 100px auto 0 auto;
		text-align: center;
		a {
			font-size: 30px;
			color: $white;
			@extend .serif;
			font-weight: 100;
		}
		h1, h2 {
			@extend .serif;
		}
		h1 {
			letter-spacing: -1px;
			text-transform: uppercase;
			// margin-bottom: 10px;
		}
		h2 {
			font-size: 0.9em;
			color: $button-dark-color;
			bottom: 20px;
		}
		@media only screen and (max-width: 850px) {
			margin: 25px auto 0 auto;
		}
		> .profilepic {
			border-radius: 300px;
			width: 120px;
			height: auto;
			@media only screen and (max-width: 850px) {
				width: 80px;
			}
		}
	}
	> footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: auto;
		text-align: center;
		@media only screen and (max-width: 850px) {
			width: 100%;
			position: relative;
		}
		a {
			min-width: 100px;
		}
	}
}
